<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="webServer" type="MultiServer.WebServerSectionGroup, MultiServer">
      <section name="contentTypes" type="MultiServer.ContentTypesSection, MultiServer" />
      <section name="aspNetProcessingFiles" type="MultiServer.AspNetProcessingFilesSection, MultiServer" />
      <section name="webSites" type="MultiServer.WebSitesSection, MultiServer" />
    </sectionGroup>
  </configSections>
  
  <webServer>
    <contentTypes>
      <contentTypes>
        <clear />
        <!-- Картинки -->
        <add extension=".jpg" contentType="image/jpeg" isText="False" />
        <add extension=".jpe" contentType="image/jpeg" isText="False" />
        <add extension=".jpeg" contentType="image/jpeg" isText="False" />
        <add extension=".gif" contentType="image/gif" isText="False" />
        <add extension=".png" contentType="image/png" isText="False" />
        <add extension=".tiff" contentType="image/tiff" isText="False" />
        <add extension=".tif" contentType="image/tiff" isText="False" />
        <add extension=".ico" contentType="image/vnd.microsoft.icon" isText="False" />

        <!-- Интернет‐файлы -->
        <add extension=".css" contentType="text/css" isText="True" />
        <add extension=".xml" contentType="application/xml" isText="True" />
        <add extension=".xslt" contentType="application/xml+xslt" isText="True" />
        <add extension=".xsl" contentType="application/xml+xslt" isText="True" />
        <add extension=".txt" contentType="text/plain" isText="True" />
        <add extension=".svg" contentType="image/svg+xml" isText="True" />
        <add extension=".htm" contentType="text/html" isText="True" />
        <add extension=".html" contentType="text/html" isText="True" />
        <add extension=".shtml" contentType="text/html" isText="True" />
        <add extension=".xhtml" contentType="application/xhtml+xml" isText="True" />
        <add extension=".atom" contentType="application/atom+xml" isText="True" />
        <add extension=".rss" contentType="application/rss+xml" isText="True" />
        <add extension=".js" contentType="application/javascript" isText="True" />

        <!-- Архивы -->
        <add extension=".7z" contentType="application/x-7z-compressed" isText="False" />
        <add extension=".rar" contentType="application/x-rar-compressed" isText="False" />
        <add extension=".zip" contentType="application/zip" isText="False" />
        <add extension=".gz" contentType="application/x-gzip" isText="False" />

        <!-- Документы -->
        <add extension=".rtf" contentType="application/rtf" isText="True" />
        <add extension=".pdf" contentType="application/pdf" isText="False" />
		
        <add extension=".odt" contentType="application/vnd.oasis.opendocument.text" isText="False" />
        <add extension=".ott" contentType="application/vnd.oasis.opendocument.text-template" isText="False" />
        <add extension=".odg" contentType="application/vnd.oasis.opendocument.graphics" isText="False" />
        <add extension=".otg" contentType="application/vnd.oasis.opendocument.graphics-template" isText="False" />
        <add extension=".odp" contentType="application/vnd.oasis.opendocument.presentation" isText="False" />
        <add extension=".otp" contentType="application/vnd.oasis.opendocument.presentation-template" isText="False" />
        <add extension=".ods" contentType="application/vnd.oasis.opendocument.spreadsheet" isText="False" />
        <add extension=".ots" contentType="application/vnd.oasis.opendocument.spreadsheet-template" isText="False" />
        <add extension=".odc" contentType="application/vnd.oasis.opendocument.chart" isText="False" />
        <add extension=".otc" contentType="application/vnd.oasis.opendocument.chart-template" isText="False" />
        <add extension=".odi" contentType="application/vnd.oasis.opendocument.image" isText="False" />
        <add extension=".oti" contentType="application/vnd.oasis.opendocument.image-template" isText="False" />
        <add extension=".odf" contentType="application/vnd.oasis.opendocument.formula" isText="False" />
        <add extension=".otf" contentType="application/vnd.oasis.opendocument.formula-template" isText="False" />
        <add extension=".odm" contentType="application/vnd.oasis.opendocument.text-master" isText="False" />
        <add extension=".oth" contentType="application/vnd.oasis.opendocument.text-web" isText="False" />

        <!-- Видео -->
        <add extension=".mpg" contentType="video/mpeg" isText="False" />
        <add extension=".mpeg" contentType="video/mpeg" isText="False" />
        <add extension=".ogv" contentType="video/ogg" isText="False" />
        <add extension=".mp4" contentType="video/mp4" isText="False" />
        <add extension=".webm" contentType="video/webm" isText="False" />

        <!-- Программы -->
        <add extension=".bin" contentType="application/octet-stream" isText="False" />
        <add extension=".exe" contentType="application/octet-stream" isText="False" />
        <add extension=".dll" contentType="application/octet-stream" isText="False" />
        <add extension=".deb" contentType="application/octet-stream" isText="False" />
        <add extension=".dmg" contentType="application/octet-stream" isText="False" />
        <add extension=".eot" contentType="application/octet-stream" isText="False" />
        <add extension=".iso" contentType="application/octet-stream" isText="False" />
        <add extension=".img" contentType="application/octet-stream" isText="False" />
        <add extension=".msi" contentType="application/octet-stream" isText="False" />
        <add extension=".msp" contentType="application/octet-stream" isText="False" />
        <add extension=".msm" contentType="application/octet-stream" isText="False" />

        <!-- Двоичные файлы -->
        <add extension=".swf" contentType="application/x-shockwave-flash" isText="False" />
        <add extension=".ram" contentType="audio/x-pn-realaudio" isText="False" />
        <add extension=".crt" contentType="application/x-x509-ca-cert" isText="False" />
        <add extension=".cer" contentType="application/x-x509-ca-cert" isText="False" />
        <add extension=".tgz" contentType="application/x-compressed" isText="False" />

      </contentTypes>
    </contentTypes>
    <!--
      Типы файлов, обрабатываемые Asp.Net‐процессором
      если тип файла не указан в коллекции contentTypes
      и не обрабатывается Asp.Net‐процессором, то доступ к нему будет запрещён
     -->
    <aspNetProcessingFiles>
      <aspNetProcessingFiles>
        <clear />
        <add extension=".asmx" />
        <add extension=".aspx" />
        <add extension=".ashx" />
        <add extension=".axd" />
      </aspNetProcessingFiles>
    </aspNetProcessingFiles>
    <!-- Сайты -->
    <webSites>
      <webSites>
        <clear />
        <!-- Тестовый сайт -->
        <add isMoved="false" movedUrl="http://localhost" virtualPath="/" physicalDirectory="C:\wwwroot\"
             hostName="127.0.0.1" enableSsl="false" certificateFilePath="E:\Programming\Certificates\ssl.crt" />
             
      </webSites>
    </webSites>
  </webServer>

  <appSettings>
    <add key="AnyAdapter" value="True" />
    <add key="ServerPort" value="80" />
  </appSettings>

  <system.diagnostics>
        <sources>
            <!-- В этой секции определяется конфигурация ведения журнала для My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Раскомментируйте следующую секцию для записи в журнал событий приложения -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Раскомментируйте следующую секцию и замените APPLICATION_NAME на имя своего приложения для записи в журнал событий приложения -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
